    body {
        margin: 0;
    }
    
    header {
        position: fixed;
        width: 100%;
        color: white;
        height: 100px;
        display: flex;
        align-items: center;
        opacity: 90%;
        z-index: 2;
        border-bottom: solid 3px;
        justify-content: center;
    }
    
    footer {
        position: fixed;
        width: 100%;
        height: 40px;
        bottom: 0px;
        color: white;
        display: flex;
        opacity: 90%;
        z-index: 2;
        align-items: center;
        justify-content: center;
        border-top: solid 3px;
    }
    
    th {
        text-align: justify;
    }
    
    .board_submit_box {
        display: flex;
        flex-direction: column;
    }
    
    .button {
        border-radius: 8px;
        padding: 5px 15px;
        font-size: 1.0em;
        color: white;
        border: solid 2px;
    }
    
    .button:active {
        background-color: white;
    }
    
    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .board_form_button {
        margin-top: 20px;
    }
    
    .box {
        width: 100%;
        min-height: 5%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .board_label_top {
        font-size: 4em;
    }
    
    .main_board_container {
        width: 100%;
        max-height: 500px;
        max-width: 95%;
        padding-top: 100px;
        overflow: auto;
    }
    
    .main_board {
        position: relative;
        width: 100%;
        border: solid 2px;
        border-radius: 5px;
    }
    
    .amount_col {
        text-align: right;
        padding-right: 6%;
    }
    
    .remove_button {
        background-color: #e70606;
        color: white;
        width: 30px;
        border-radius: 4px;
    }
    
    .remove_button:active {
        background-color: white;
        color: #e70606;
    }
    
    .board_label_input {
        border-radius: 8px;
    }
    
    .pos_amount {
        color: #19c221
    }
    
    .neg_amount {
        color: #cf1111;
    }
    
    .top_content {
        position: fixed;
        top: 100px;
        width: 100%;
        text-align: center;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }
    
    .balance_text {
        font-size: 1.5em;
    }
    
    .balance_amount {
        font-size: 5em;
    }
    
    .op_form_box {
        height: 500px;
        min-width: 250px;
    }
    
    .op_label_input {
        width: 98%;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    
    .radio_input {
        height: 20px;
        width: 20px;
    }
    
    .op_type_box {
        margin-left: 30px;
        margin-bottom: 20px;
        /*font-size: 2em;*/
        display: flex;
        flex-direction: column;
    }
    
    .op_date_label {
        font-size: 0.8em;
    }
    
    .op_date_input {
        font-size: 1.2em;
        border-radius: 8px;
        margin-bottom: 30px;
    }
    
    .pay_way_menu {
        font-size: 1.0em;
        background-color: white;
        margin-bottom: 40px;
        border: solid 1px;
        border-radius: 6px;
    }
    
    .op_amount_box {
        display: flex;
        justify-content: end;
    }
    
    .op_amount_input {
        font-size: 00.9em;
        width: 200px;
        margin-left: 30px;
        margin-bottom: 30px;
        ;
        text-align: right;
        border-radius: 8px;
    }
    
    .op_sub_buttons_box {
        display: flex;
        justify-content: end;
    }
    
    .op_cancel_button {
        margin-left: 20px;
    }
    
    #title {
        font-size: 2.7em;
    }
    
    #pos_balance {
        color: #19c221
    }
    
    #neg_balance {
        color: #cf1111;
    }
    
    @media (max-width: 1007px) {
        header {
            background-color: #af3ed8;
            border-color: #410241;
        }
        footer {
            background-color: #af3ed8;
            border-color: #410241;
        }
        th {
            font-size: 1.2em
        }
        p#author_footer {
            font-size: 1.5em;
        }
        .box {
            margin-left: 10px;
            margin-right: 10px;
        }
        .button {
            background-color: #af3ed8;
            border-color: #410241;
        }
        .button:active {
            color: #af3ed8;
        }
        .board_label_input {
            font-size: 2em;
            color: #9e3dc2
        }
        .board_form_button {
            font-size: 2em;
        }
        .board_label_top {
            color: #6d2686;
        }
        .balance_text {
            color: #6d2686;
        }
        .main_board {
            background-color: #f2def8;
            color: #6d2686;
        }
        .remove_button {
            border-color: #410241;
            font-size: 1.2em;
        }
        .new_op_button {
            font-size: 2em;
        }
        .op_form_box {
            color: #6d2686;
            font-size: 2em;
            border: solid 4px;
            border-radius: 8px;
            border-color: #8521aa;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 50px;
        }
        .op_label_input {
            color: #9e3dc2;
            font-size: 0.8em;
        }
        .pay_way_menu {
            width: 100%;
            font-size: 0.8em;
            color: #9e3dc2;
        }
        .op_date_input {
            color: #9e3dc2;
        }
        .op_amount_input {
            color: #9e3dc2;
        }
        #create_board_button {
            font-size: 2.5em;
            border-width: 4px;
            padding: 25px 100px;
        }
    }
    
    @media (min-width:1008px) {
        body {
            margin: 0;
        }
        header {
            position: fixed;
            width: 100%;
            color: white;
            height: 100px;
            background-color: #3e62d8;
            display: flex;
            align-items: center;
            opacity: 90%;
            z-index: 2;
            justify-content: left;
            border-color: #202a4b;
        }
        footer {
            position: fixed;
            width: 100%;
            height: 40px;
            background-color: #3e62d8;
            bottom: 0px;
            color: white;
            display: flex;
            opacity: 90%;
            z-index: 2;
            align-items: center;
            justify-content: center;
            border-color: #202a4b;
        }
        th {
            font-size: 2em;
        }
        td {
            font-size: 1.5em;
        }
        .button {
            border-radius: 8px;
            padding: 5px 15px;
            background-color: #3e62d8;
            font-size: 1.0em;
            color: white;
            border: solid 2px;
            border-color: #202a4b;
        }
        .button:hover {
            background-color: #8b9fe2;
        }
        .button:active {
            background-color: white;
            color: #3e62d8;
        }
        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box {
            position: relative;
            width: 1000px;
            min-height: 5%;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .board_label_input {
            font-size: 1.5em;
            color: #8b9fe2;
        }
        .balance_text {
            color: #3e62d8;
        }
        .board_form_button {
            font-size: 1.5em;
        }
        .main_board {
            background-color: #e1e6f7;
            border-color: #3e62d8;
            color: #3e62d8;
        }
        .board_label_top {
            color: #3e62d8;
        }
        .remove_button {
            height: 34px;
            border-color: #202a4b;
            font-size: 1em;
        }
        .op_form_box {
            height: 500px;
            min-width: 250px;
            font-size: 1.5em;
        }
        .op_label_input {
            font-size: 0.9em;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .radio_input {
            height: 15px;
            width: 15px;
        }
        .op_type_box {
            margin-left: 30px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }
        .op_date_label {
            font-size: 0.8em;
        }
        .op_date_input {
            font-size: 1.2em;
            border-radius: 8px;
            margin-bottom: 30px;
        }
        .pay_way_menu {
            font-size: 0.9em;
            color: #9e3dc2;
            background-color: white;
            margin-bottom: 40px;
            border: solid 1px;
            border-radius: 6px;
        }
        .op_amount_box {
            display: flex;
            justify-content: end;
        }
        .op_amount_input {
            font-size: 00.9em;
            width: 200px;
            margin-left: 30px;
            margin-bottom: 30px;
            color: #9e3dc2;
            ;
            text-align: right;
            border-radius: 8px;
        }
        .op_sub_buttons_box {
            display: flex;
            justify-content: end;
        }
        .op_cancel_button {
            margin-left: 20px;
        }
        .op_form_box {
            height: 400px;
            color: #3e62d8;
            border: solid 2px;
            border-color: #3e62d8;
            border-radius: 5px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .op_label_input {
            color: #3e62d8;
            width: 76%;
        }
        .op_date_input {
            color: #6988ee;
            font-size: 0.9em;
        }
        .pay_way_menu {
            color: #5376e7;
            font-size: 0.8em;
        }
        .op_amount_input {
            color: #3e62d8;
            font-size: 0.8em;
        }
        p.header {
            font-size: 1.1em;
        }
        #title {
            margin-left: 1%;
        }
        p#author_footer {
            font-size: 1.1em;
            text-align: center;
        }
    }